@mixin submit-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: $btn-color;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

@mixin hover {
    -webkit-box-shadow: 4px 4px 13px -2px rgb(85, 96, 109);
    -moz-box-shadow: 4px 4px 13px -2px rgb(85, 96, 109);
    box-shadow: 4px 4px 13px -2px rgb(85, 96, 109);
    background-color: rgb(91, 108, 128);
}