body {
    background-color: #f1f1f1;
    .nav-design {
        background-color: darkgray;
        //  #f1f1f1;
        height: 100px;       
        // margin-left: 237px;
        .margins {
            margin-left: 237px;
            margin-right: 237px;
            .search {
                border: 1px solid black;
                padding-left: 25px;
                padding-right: 25px;
                // margin-left: 50px;
                .search-bar {
                    border: none;
                    align-self: center;
                    background-color: #fff;
                    height: 40px;
                    width: 400px;
                    border-radius: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            .user {
                border: 1px solid black;
                padding-left: 25px;
                padding-right: 25px;
                .user-icon {
                    border: 1px solid red;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    margin-left: 33px;
                }
            }
            .browse {
                border: 1px solid black;
                padding-left: 25px;
                padding-right: 25px;
            }
            .btn-browse {
                font-size: 30px;
                border: none;
                border-radius: 10px;
                height: 50px;
            }
            .name {
                border: 1px solid black;
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }
    .tiles-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        //1446
        width: 1446px;
        margin: auto;
        // padding: auto;
        .row {
            margin-bottom: 50px;
        }
    .tile {
        // background-color: red;
        width: 250px;
        height: 300px;
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
        align-items: center;
        flex-direction: column;

        .tile-image {
            border: 1px solid black;
            border-radius: 40px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 40px;
            }
        }
        .tile-content {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // background-color: pink;
            width: 90%;
            padding-left: 5px;
            h3 {
                // background-color: gray;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 24px;
                margin-top: 5px;
            }
        }
    }
}
}
