body {
  background-color: #f1f1f1;
}

body .nav-design {
  background-color: darkgray;
  height: 60px;
  display: flex;
}

body .nav-design .nav-elements-placement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body .nav-design .new-offer {
  margin-left: auto;
  margin-right: 100px;
  width: 180px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .nav-design .new-offer i {
  padding-right: 10px;
  font-size: 20px;
}

body .nav-design .logo {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 30%;
}

body .nav-design .nav-rightside {
  width: 120px;
  height: 50px;
  display: flex;
}

body .nav-design .nav-rightside .nav-rightside-elements {
  font-size: 38px;
  margin-left: 20px;
}

body .main-body-margins {
  margin-left: 150px;
  margin-right: 150px;
}

body .main-body-margins .title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

body .left-element {
  margin-left: 25px;
  height: 250px;
  width: 250px;
  background-color: darkred;
}
