@import '_fonts.scss';
@import '_buttons.scss';
@import '_colors.scss';
@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*{
    @include body-font;
}
form {
    background-color: $bgc-body;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    // max-width: 400px;
    margin-left: 237px;
    margin-right: 237px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    div {
        // background-color: red;
        width: 600px;
    label {
        // background-color: green;
        display: flex;
        flex-direction: column;
        align-items: center;
        input[type=text], input[type=number] {
            // flex: 2; /* Allow the input to take up more space */
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            
        }
        input:focus {
                outline: none;
                -webkit-box-shadow: 4px 4px 13px -2px rgba(156, 156, 158, 1);
                -moz-box-shadow: 4px 4px 13px -2px rgba(156, 156, 158, 1);
                box-shadow: 4px 4px 13px -2px rgba(156, 156, 158, 1);
        }
        select {
            flex: 2; /* Allow the input to take up more space */
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;

        }
        span {
            margin-bottom: 5px;
        }
    }
    button {
        @include submit-button;
        &:hover {
            @include hover;
        }
    }
    

}
.offer-info {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    .title {
        width: 100%;
        input {
            width: 100%;
        }
    }
    .other-informations {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        button {
            @include submit-button;
            &:hover {
                @include hover;
            }
        }
    }
    label {
        margin-top: 10px
    }
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .category-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        width: 100%;
        padding: 0;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            list-style: none;
            input[type=checkbox] {
                margin-right: 10px;
                height: 25px;
                width: 25px;
            }
        }
    }
}
button {
   @include submit-button;
    &:hover {
        @include hover;
    }
}


.desc-position {
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    textarea {
        border:1px solid black;
        resize: none;
        height: 300px;
        width: 600px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        // background-color: #f8f8f8;
        font-size: 16px;
        margin-bottom: 40px;
    }
    .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        label {
            width: 100px;
            height: 100px;
            border-radius: 10px;
            margin: 5px;
            border: 1px solid black;
            background-color: #f0f0f0;
            cursor: pointer;
            text-align: center;
            font-size: 24px;
            color: black;

            input[type=file] {
                width: 100%;
                height: 100%;
                opacity: 0; /* Hide the actual file input */
                cursor: pointer;
                content: "+";
            }
        }
    }
}
}
.hours-table {
    // border: 1px solid black;
    padding: 0;
    margin: 0;
    th {
        border: 1px solid black;
        width: 150px;
        height: 50px;
        text-align: center;
        &:empty:hover {
            cursor: pointer;
            background-color: #bfe664;
        }
    }
}
.modal-body {
    display: flex;
    justify-content: center;
    width: 100%;
}
.modal-footer {
    .modal-button {
        @include submit-button;
        &:hover {
            @include hover;
        }
    }
    .modal-button-save {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #4e739b;
        color: white;
        font-size: 16px;
        margin-top: 10px;
        &:hover {
            background-color: #396b97;
        }
    }
}