body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

body .nav-design {
  background-color: #000045;
  height: 100px;
}

body .nav-design .margins {
  margin-left: 237px;
  margin-right: 237px;
}

body .nav-design .margins .search {
  border: 1px solid black;
  padding-left: 25px;
  padding-right: 25px;
}

body .nav-design .margins .search .search-bar {
  border: none;
  align-self: center;
  background-color: #fff;
  height: 40px;
  width: 400px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

body .nav-design .margins .user {
  border: 1px solid black;
  padding-left: 25px;
  padding-right: 25px;
}

body .nav-design .margins .user .user-icon {
  border: 1px solid red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 33px;
}

body .nav-design .margins .browse {
  border: 1px solid black;
  padding-left: 25px;
  padding-right: 25px;
}

body .nav-design .margins .btn-browse {
  font-size: 30px;
  background-color: #4560a9;
  border: none;
  border-radius: 10px;
  height: 50px;
}

body .nav-design .margins .name {
  border: 1px solid black;
  padding-left: 25px;
  padding-right: 25px;
}

body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body form label {
  display: flex;
  align-items: center;
  /* Center items vertically */
  width: 100%;
  margin-bottom: 10px;
}

body form label span {
  flex: 1;
  /* Allow the label text to take up available space */
  text-align: left;
  /* Align label text to the left */
}

body form label input[type=text], body form label input[type=email], body form label input[type=password] {
  flex: 2;
  /* Allow the input to take up more space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

body form label input:focus {
  outline: none;
  -webkit-box-shadow: 4px 4px 13px -2px #9c9c9e;
  -moz-box-shadow: 4px 4px 13px -2px #9c9c9e;
  box-shadow: 4px 4px 13px -2px #9c9c9e;
}

body form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4560a9;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

body form button:hover {
  background-color: #4545a9;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 13px -2px #9c9c9e;
  -moz-box-shadow: 4px 4px 13px -2px #9c9c9e;
  box-shadow: 4px 4px 13px -2px #9c9c9e;
}
